body {
  background-color: white;
  width: 900px;
  margin: auto;
}

header {
  background-color: green;
  color: white;
  text-align: center;
  padding: 20px;
}

nav {
  background-color: black;
  text-align: center;
  padding: 8px;
}

nav a {
  color: white;
  margin: 10px;
}

main {
  background-color: white;
  margin: 10px;
  padding: 20px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px;
}

img {
  width: 500px;
}

.fotografias {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.fotografias img {
  width: 150px;
  border-radius: 50px;
}

.poema p:nth-child(1) {
  color: red;
}

.poema p:nth-child(2) {
  color: blue;
}

.poema p:nth-child(3) {
  color: green;
}

.poema p:nth-child(4) {
  color: orange;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
}
